<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daily information - <%= title %></title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-info-circle"></i> <span>Daily information</span></a>
            </div>
            <div class="clearfix"></div>
            <% include layout-sidebar.ejs %>
          </div>
        </div>

        <% include layout-top-menu.ejs %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><%= title %> <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <!-- <ul class="dropdown-menu" role="menu">

                        </ul> -->
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <form action="/admin/staff/edit" method="POST" style="padding: 10px 0 ">
                      <input type="hidden" value="<%= sid_code %>" name="sid_code">
                      <input type="hidden" value="<%= staffInfo.name %>" name="name">
                      <div class="row">
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">姓名 <span class="text-danger">(*)</span></label>
                              <input type="text" name="name" class="form-control" placeholder="填写姓名" value="<%= staffInfo.name %>" disabled>
                          </div>
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">员工号 <span class="text-danger">(*)</span></label>
                              <input type="text" name="userid" class="form-control" placeholder="填写员工号" value="<%= staffInfo.userid %>">
                          </div>
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">性别 <span class="text-danger">(*)</span></label>
                              <select type="text" name="gender" class="form-control">
                                  <option value="">性别</option>
                                  <option value="男" <%= '男' == staffInfo.gender ? 'selected': '' %>>男</option>
                                  <option value="女" <%= '女' == staffInfo.gender ? 'selected': '' %>>女</option>
                              </select>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">毕业学校</label>
                              <input type="text" name="school" class="form-control" placeholder="毕业学校" value="<%= staffInfo.school %>">
                          </div>
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">毕业专业</label>
                              <input type="text" name="major" class="form-control" placeholder="毕业专业" value="<%= staffInfo.major %>">
                          </div>
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">最高学历</label>
                              <select type="text" name="education" class="form-control">
                                  <option value="">学历</option>
                                  <option value="本科" <%= '本科' == staffInfo.education ? 'selected': '' %>>本科</option>
                                  <option value="硕士" <%= '硕士' == staffInfo.education ? 'selected': '' %>>硕士</option>
                                  <option value="博士" <%= '博士' == staffInfo.education ? 'selected': '' %>>博士</option>
                              </select>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">毕业日期</label>
                              <input type="text" class="date form-control" name="graduation_date" placeholder="选择日期" value="<%= staffInfo.graduation_date %>">
                          </div>
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">开始工作日期</label>
                              <input type="text" class="date form-control" name="work_date" placeholder="选择日期" value="<%= staffInfo.work_date %>">
                          </div>
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">入职BOE日期</label>
                              <input type="text" class="date form-control" name="enter_date" placeholder="选择日期" value="<%= staffInfo.enter_date %>">
                          </div>
                      </div>
                          
                      <div class="row">
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">出生日期</label>
                              <input type="text" class="date form-control" name="birthday" placeholder="选择日期" value="<%= staffInfo.birthday %>">
                          </div>
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">出生地</label>
                              <input type="text" name="birth_place" class="form-control" placeholder="出生地" value="<%= staffInfo.birth_place %>">
                          </div>
                          <div class="form-group col-lg-4">
                              <label for="" class="control-label">户口所在地</label>
                              <input type="text" name="domicile_place" class="form-control" placeholder="户口所在地" value="<%= staffInfo.domicile_place %>">
                          </div>
                      </div>
                        
                      <div class="row">
                        <div class="form-group col-lg-4 col-md-4">
                          <label for="duty">职务</label>
                          <select type="text" name="duty" class="form-control">
                              <option value="">选择级别</option>
                              <% for(var i = 0 ; i< dutyList.length ; i++){ %>
                                  <option value="<%= dutyList[i].duty %>" <%= dutyList[i].duty == staffInfo.duty ? 'selected': '' %>><%= dutyList[i].duty %></option>
                              <% } %>
                          </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                          <label for="duty">职级</label>
                          <select type="text" name="grade" class="form-control">
                              <option value="">选择级别</option>
                              <% for(var i = 0 ; i< gradeList.length ; i++){ %>
                                  <option value="<%= gradeList[i].grade %>" <%= gradeList[i].grade == staffInfo.grade ? 'selected': '' %>><%= gradeList[i].grade %></option>
                              <% } %>
                          </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                          <label for="">岗位类型</label>
                          <select type="text" name="postType" class="form-control">
                              <option value="">岗位类型</option>
                              <% for(var i = 0 ; i< postTypeList.length ; i++){ %>
                                  <option value="<%= postTypeList[i].postType %>" <%= postTypeList[i].postType == staffInfo.postType ? 'selected': '' %>><%= postTypeList[i].postType %></option>
                              <% } %>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-lg-4 col-md-4">
                          <label for="">主要岗位</label>
                          <select type="text" name="mainPost" class="form-control">
                              <option value="">选择岗位</option>
                              <% for(var i = 0 ; i< postList.length ; i++){ %>
                                  <option value="<%= postList[i].post %>" <%= postList[i].post == staffInfo.mainPost ? 'selected': '' %>><%= postList[i].post %></option>
                              <% } %>
                          </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                          <label for="">次要岗位</label>
                          <input type="text" class="form-control" name="subPost" placeholder="" value="<%= staffInfo.subPost %>">
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                          <label for="">状态</label>
                          <select type="text" name="state" class="form-control">
                              <option value="">选择在职状态</option>
                              <% for(var i = 0 ; i< stateList.length ; i++){ %>
                                  <option value="<%= stateList[i].state %>" <%= stateList[i].state == staffInfo.state ? 'selected': '' %>><%= stateList[i].state %></option>
                              <% } %>
                          </select>
                        </div>
                      </div>
        <!--                <div class="row"> -->
                          <div class="form-group">
                            <label for="">岗位描述（职责）</label>
                            <textarea rows="8" name="postDescribe" class="form-control" placeholder="" style="width:100%;"><%= staffInfo.postDescribe %></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary">保存</button>
                        <!-- </div> -->
                        
                    </form>
                  </div>
                </div>
                </div>
              </div>

          </div>
        </div>


        <!-- /page content -->
        <footer></footer>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>
    <!-- ECharts -->
    <script src="../vendors/echarts/dist/echarts.min.js"></script>
    <!-- <script src="../vendors/echarts/map/js/world.js"></script> -->
    
    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>

    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <script>
      $(function(){
        // 日期选择框
          $('input.date').datepicker({
              format: "yyyy-mm-dd",
              weekStart: 7,
              maxViewMode: 1,
              language: "zh-CN",
              // daysOfWeekDisabled: "0,6",
              // daysOfWeekHighlighted: "0,6",
              autoclose: true,
              todayHighlight: true,
              // startDate: new Date()
          }).on('show', function (e) {
              e.preventDefault();
              e.stopPropagation(); // 禁止触发父元素事件
          }).on('hide', function (e) {
              e.stopPropagation(); // 禁止触发父元素事件
          });
      });
    </script>
  </body>
</html>
