<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daily information - <%= title %></title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-info-circle"></i> <span>Daily information</span></a>
            </div>
            <div class="clearfix"></div>
            <% include layout-sidebar.ejs %>
          </div>
        </div>

        <% include layout-top-menu.ejs %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div style="margin-bottom:20px">
            <h3>编辑人员岗位信息<small> - <%= staffInfo.name %></small></h3>
            <!-- <a class="btn btn-danger btn-sm pull-right" style="margin-bottom: 20px" href="/user/fom/edit">编辑</a> -->
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form action="/admin/staff/editB" method="POST" style="padding: 10px 0 ">
              <input type="hidden" value="<%= staffInfo.userid %>" name="userid">
              <input type="hidden" value="<%= staffInfo.name %>" name="name">
              <div class="row">
                <div class="form-group col-lg-6">
                  <label for="duty">职务</label>
                  <select type="text" name="duty" class="form-control">
                      <option value="">选择级别</option>
                      <% for(var i = 0 ; i< dutyList.length ; i++){ %>
                          <option value="<%= dutyList[i].duty %>" <%= dutyList[i].duty == staffInfo.duty ? 'selected': '' %>><%= dutyList[i].duty %></option>
                      <% } %>
                  </select>
                </div>
                <div class="form-group col-lg-6">
                  <label for="duty">职级</label>
                  <select type="text" name="grade" class="form-control">
                      <option value="">选择级别</option>
                      <% for(var i = 0 ; i< gradeList.length ; i++){ %>
                          <option value="<%= gradeList[i].grade %>" <%= gradeList[i].grade == staffInfo.grade ? 'selected': '' %>><%= gradeList[i].grade %></option>
                      <% } %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-6">
                  <label for="">主要岗位</label>
                  <select type="text" name="mainPost" class="form-control">
                      <option value="">选择岗位</option>
                      <% for(var i = 0 ; i< postList.length ; i++){ %>
                          <option value="<%= postList[i].post %>" <%= postList[i].post == staffInfo.mainPost ? 'selected': '' %>><%= postList[i].post %></option>
                      <% } %>
                  </select>
                </div>
                <div class="form-group col-lg-6">
                  <label for="">次要岗位</label>
                  <input type="text" class="form-control" name="subPost" placeholder="" value="<%= staffInfo.subPost %>">
                </div>
              </div>
               <div class="row">
                <div class="form-group col-lg-6">
                  <label for="">岗位类型</label>
                  <select type="text" name="postType" class="form-control">
                      <option value="">岗位类型</option>
                      <% for(var i = 0 ; i< postTypeList.length ; i++){ %>
                          <option value="<%= postTypeList[i].postType %>" <%= postTypeList[i].postType == staffInfo.postType ? 'selected': '' %>><%= postTypeList[i].postType %></option>
                      <% } %>
                  </select>
                </div>
                <div class="form-group col-lg-6">
                  <label for="">状态</label>
                  <select type="text" name="state" class="form-control">
                      <option value="">选择在职状态</option>
                      <% for(var i = 0 ; i< stateList.length ; i++){ %>
                          <option value="<%= stateList[i].state %>" <%= stateList[i].state == staffInfo.state ? 'selected': '' %>><%= stateList[i].state %></option>
                      <% } %>
                  </select>
                </div>
               </div>
<!--                <div class="row"> -->
                  <div class="form-group">
                    <label for="">岗位描述（职责）</label>
                    <textarea rows="10" name="postDescribe" class="form-control" placeholder="" style="width:100%;"><%= staffInfo.postDescribe %></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">保存</button>
                <!-- </div> -->
                
            </form>
            </div>
          </div>
        </div>
        <!-- /page content -->
        <footer></footer>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>
    <!-- ECharts -->
    <script src="../vendors/echarts/dist/echarts.min.js"></script>
    <!-- <script src="../vendors/echarts/map/js/world.js"></script> -->
    
    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>
  </body>
</html>
