<% include ../layout/head.ejs %>
<!-- special css -->
<!-- bootstrap -->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<!-- <link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css"> -->
<!-- <link rel="stylesheet" href="/bootstrap3-editable/css/bootstrap-editable.css"> -->
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<!-- 自定义 -->
<link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <div class="layout-head">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/user/fom"><%= deptInfo.dept %></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/user/fom">人员管理</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">个人中心 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">操作明细</a></li>
                                <li><a href="#">个人资料</a></li>
<!--                                 <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li> -->
                            </ul>
                        </li>
                        <li><a href="/login/out">登出</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- <% include ../layout/alertMessage.ejs %> -->
    </div>
    <div class="container">
        <!-- <div class="content"> -->
<!--             <ol class="breadcrumb">
              <li><a href="/user/fom">FOM管理</a></li>
              <li class="active">显示人员信息</li>
            </ol> -->
        <div style="margin-bottom:20px">
        	<h3>编辑人员岗位信息<small> - <%= staffInfo.name %></small></h3>
        </div>
        <div class="row">
	        <div class="col-lg-8">
						<form action="/user/fom/edit" method="POST" style="padding: 10px 0 ">
							<input type="hidden" value="<%= staffInfo.userid %>" name="userid">
							<div class="row">
								<div class="form-group col-lg-6">
							    <label for="duty">职务</label>
							    <input type="text" class="form-control" name="duty" placeholder="" value="<%= staffInfo.duty %>">
							  </div>
							  <div class="form-group col-lg-6">
							    <label for="duty">职级</label>
							    <select type="text" name="grade" class="form-control">
                      <option value="">选择级别</option>
                      <option value="专家" <%= staffInfo.grade =='专家' ? 'selected':'' %>>专家</option>
                      <option value="资深" <%= staffInfo.grade =='资深' ? 'selected':'' %>>资深</option>
                      <option value="高级" <%= staffInfo.grade =='高级' ? 'selected':'' %>>高级</option>
                      <option value="中级" <%= staffInfo.grade =='中级' ? 'selected':'' %>>中级</option>
                      <option value="初级" <%= staffInfo.grade =='初级' ? 'selected':'' %>>初级</option>
                      <option value="助理" <%= staffInfo.grade =='助理' ? 'selected':'' %>>助理</option>
                  </select>
							  </div>
							</div>
							<div class="row">
								<div class="form-group col-lg-6">
							    <label for="">主要岗位</label>
							    <select type="text" name="mainPost" class="form-control">
                      <option value="">选择岗位</option>
                      <% for(var i = 0 ; i< postList.length ; i++){ %>
                          <option value="<%= postList[i].post %>" <%= postList[i].post == staffInfo.mainPost ? 'selected': '' %>><%= postList[i].post %></option>
                      <% } %>
                  </select>
							  </div>
							  <div class="form-group col-lg-6">
							    <label for="">次要岗位</label>
							    <input type="text" class="form-control" name="mainPost" placeholder="" value="<%= staffInfo.subPost %>">
							  </div>
							</div>
							 <div class="row">
							 	<div class="form-group col-lg-6">
							    <label for="">岗位类型</label>
							    <select type="text" name="mainPost" class="form-control">
                      <option value="">岗位类型</option>
                      <% for(var i = 0 ; i< postTypeList.length ; i++){ %>
                          <option value="<%= postTypeList[i].postType %>" <%= postTypeList[i].postType == staffInfo.postType ? 'selected': '' %>><%= postTypeList[i].postType %></option>
                      <% } %>
                  </select>
							  </div>
							  <div class="form-group col-lg-6">
							    <label for="">状态</label>
							    <select type="text" name="state" class="form-control">
                      <option value="">选择在职状态</option>
                      <% for(var i = 0 ; i< stateList.length ; i++){ %>
                          <option value="<%= stateList[i].state %>" <%= stateList[i].state == staffInfo.state ? 'selected': '' %>><%= stateList[i].state %></option>
                      <% } %>
                  </select>
							  </div>
							 </div>
<!-- 							  <div class="row"> -->
							  	<div class="form-group">
								    <label for="">岗位描述（职责）</label>
								    <textarea rows="10" name="bz" class="form-control" placeholder="" style="width:100%;"><%= staffInfo.postDescribe %></textarea>
								  </div>
								  <button type="submit" class="btn btn-primary">保存</button>
							  <!-- </div> -->
							  
						</form>
	        </div>
        </div>
        <!-- </div>   -->
    </div>    
<!-- special script -->
<!-- bootstrap-table -->
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- personal -->
<script src="/javascripts/self.js"></script> 
<!-- <script src="/javascripts/user/fom.js"></script> -->

<!-- <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script> -->
<script>
    $(function(){

    });
</script>
<% include ../layout/foot.ejs %>