<% include ../layout/head.ejs %>
<!-- special css -->
<!-- <link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css"> -->
<!-- <link rel="stylesheet" href="/bootstrap3-editable/css/bootstrap-editable.css"> -->
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<!-- <link rel="stylesheet" href="/bootstrapZip/bootstrap-tagsinput/bootstrap-tagsinput.css"> -->
<!-- 自定义 -->
<link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <div class="layout-head">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/user/fom"><%= deptInfo.dept %></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/user/fom">人员管理</a></li>
                    </ul>
                    <% include layout-nav-right.ejs %>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- <% include ../layout/alertMessage.ejs %> -->
    </div>
    <div class="container">
        <!-- <div class="content"> -->
<!--             <ol class="breadcrumb">
              <li><a href="/user/fom">FOM管理</a></li>
              <li class="active">显示人员信息</li>
            </ol> -->
        <div style="margin-bottom:20px">
        	<h3>编辑人员岗位信息<small> - <%= staffInfo.name %></small></h3>
        </div>
        <div class="row">
	        <div class="col-lg-8">
						<form action="/user/fom/edit" method="POST" style="padding: 10px 0 ">
              <input type="hidden" value="<%= sid_code %>" name="sid_code">
							<input type="hidden" value="<%= staffInfo.userid %>" name="userid">
              <input type="hidden" value="<%= staffInfo.name %>" name="name">
							<div class="row">
								<div class="form-group col-lg-6">
							    <label for="duty">职务</label>
							    <select type="text" name="duty" class="form-control">
                      <option value="">选择级别</option>
                      <% for(var i = 0 ; i< dutyList.length ; i++){ %>
                          <option value="<%= dutyList[i].duty %>" <%= dutyList[i].duty == staffInfo.duty ? 'selected': '' %>><%= dutyList[i].duty %></option>
                      <% } %>
                  </select>
							  </div>
							  <div class="form-group col-lg-6">
							    <label for="duty">职级</label>
							    <select type="text" name="grade" class="form-control">
                      <option value="">选择级别</option>
                      <% for(var i = 0 ; i< gradeList.length ; i++){ %>
                          <option value="<%= gradeList[i].grade %>" <%= gradeList[i].grade == staffInfo.grade ? 'selected': '' %>><%= gradeList[i].grade %></option>
                      <% } %>
                  </select>
							  </div>
							</div>
							<div class="row">
								<div class="form-group col-lg-6">
							    <label for="">主要岗位</label>
							    <select type="text" name="mainPost" class="form-control">
                      <option value="">选择岗位</option>
                      <% for(var i = 0 ; i< postList.length ; i++){ %>
                          <option value="<%= postList[i].post %>" <%= postList[i].post == staffInfo.mainPost ? 'selected': '' %>><%= postList[i].post %></option>
                      <% } %>
                  </select>
							  </div>
							  <div class="form-group col-lg-6">
							    <label for="">次要岗位</label>
							    <input type="text" class="form-control" name="subPost" placeholder="" value="<%= staffInfo.subPost %>">
							  </div>
							</div>
							 <div class="row">
							 	<div class="form-group col-lg-6">
							    <label for="">岗位类型</label>
							    <select type="text" name="postType" class="form-control">
                      <option value="">岗位类型</option>
                      <% for(var i = 0 ; i< postTypeList.length ; i++){ %>
                          <option value="<%= postTypeList[i].postType %>" <%= postTypeList[i].postType == staffInfo.postType ? 'selected': '' %>><%= postTypeList[i].postType %></option>
                      <% } %>
                  </select>
							  </div>
							  <div class="form-group col-lg-6">
							    <label for="">状态</label>
							    <select type="text" name="state" class="form-control">
                      <option value="">选择在职状态</option>
                      <% for(var i = 0 ; i< stateList.length ; i++){ %>
                          <option value="<%= stateList[i].state %>" <%= stateList[i].state == staffInfo.state ? 'selected': '' %>><%= stateList[i].state %></option>
                      <% } %>
                  </select>
							  </div>
							 </div>
<!-- 							  <div class="row"> -->
							  	<div class="form-group">
								    <label for="">岗位描述（职责）</label>
								    <textarea rows="10" name="postDescribe" class="form-control" placeholder="" style="width:100%;"><%= staffInfo.postDescribe %></textarea>
								  </div>
								  <button type="submit" class="btn btn-primary">保存</button>
							  <!-- </div> -->
							  
						</form>
	        </div>
        </div>
        <!-- </div>   -->
    </div>    
<!-- special script -->
<!-- bootstrap-table -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- <script scr="/bootstrapZip/bootstrap-tagsinput/bootstrap-tagsinput.js"></script> -->
<!-- personal -->
<script src="/javascripts/self.js"></script> 
<!-- <script src="/javascripts/user/fom.js"></script> -->

<script src="/jquery-validation/dist/jquery.validate.min.js"></script>
<script>
    $(function(){
      // 表单验证
        $('form').validate({
            rules: {
                subPost: {
                    maxlength: 50,
                },
                postDescribe: {
                    maxlength: 400,
                },
            },
            errorClass: 'text-danger'
        });
    });
</script>
<% include ../layout/foot.ejs %>