<% include ../layout/head.ejs %>
<!-- special css -->
<!-- bootstrap -->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<!-- <link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css"> -->
<!-- <link rel="stylesheet" href="/bootstrap3-editable/css/bootstrap-editable.css"> -->
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<!-- 自定义 -->
<link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <div class="layout-head">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><%= deptInfo.dept %></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/user/fom">人员管理</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">个人中心 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">操作明细</a></li>
                                <li><a href="#">个人资料</a></li>
<!--                                 <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li> -->
                            </ul>
                        </li>
                        <li><a href="/login/out">登出</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <% include ../layout/alertMessage.ejs %>
    </div>
    <div class="container">
        <!-- <div class="content"> -->
            <ol class="breadcrumb">
              <li><a href="/user/fom">FOM管理</a></li>
              <li class="active">添加人员</li>
            </ol>
                <!-- <p class="lead">添加新入职员工<small> - <%= centreInfo.centre%> - <%= deptInfo.dept %></small></p> -->
				<form class="form-horizontal" method="POST" action="/user/fom/add">
                    <div class="form-group">
                        <label for="" class="control-label col-lg-2 hidden-md hidden-sm">组织 <span class="text-danger">(*)</span></label>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select type="text" name="centre" class="form-control">
                                <option value="">选择中心</option>
                                <option value="<%= centreInfo.id %>" selected><%= centreInfo.centre %></option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select type="text" name="dept" class="form-control">
                                <option value="">选择部门</option>
                                <option value="<%= deptInfo.id %>" selected><%= deptInfo.dept %></option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select type="text" name="office" class="form-control">
                                <option value="">选择科室</option>
                                <% for(var i = 0 ; i< officeList.length ; i++){ %>
                                    <option value="<%= officeList[i].id %>"><%= officeList[i].office %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-lg-2 hidden-md hidden-sm">基本信息 <span class="text-danger">(*)</span></label>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="text" name="name" class="form-control" placeholder="填写姓名">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="text" name="userid" class="form-control" placeholder="填写员工号">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select type="text" name="gender" class="form-control">
                                <option value="">性别</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="" class="control-label col-lg-2 hidden-md hidden-sm">毕业信息 <span class="text-danger">(*)</span></label>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="text" name="school" class="form-control" placeholder="毕业学校">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="text" name="major" class="form-control" placeholder="毕业专业">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select type="text" name="education" class="form-control">
                                <option value="">学历</option>
                                <option value="本科">本科</option>
                                <option value="硕士">硕士</option>
                                <option value="博士">博士</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-lg-2 hidden-md hidden-sm">入职信息</label>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="text" class="date form-control" name="graduation_date" placeholder="毕业日期">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="text" class="date form-control" name="work_date" placeholder="开始工作日期">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="text" class="date form-control" name="enter_date" placeholder="入职日期">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-lg-2 hidden-md hidden-sm">出生信息</label>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="text" class="date form-control" name="birthday" placeholder="出生日期">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="text" name="birth_place" class="form-control" placeholder="出生地">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <input type="text" name="domicile_place" class="form-control" placeholder="户口所在地">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-lg-2 hidden-md hidden-sm">岗位信息 <span class="text-danger">(*)</span></label>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select type="text" name="grade" class="form-control">
                                <option value="">选择级别</option>
<!--                                 <option value="初级">初级</option>
                                <option value="初级">初级</option>
                                <option value="初级">初级</option> -->
                                <option value="专家">专家</option>
                                <option value="资深">资深</option>
                                <option value="高级">高级</option>
                                <option value="中级">中级</option>
                                <option value="初级">初级</option>
                                <option value="助理">助理</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select type="text" name="mainPost" class="form-control">
                                <option value="">选择岗位</option>
                                <% for(var i = 0 ; i< postList.length ; i++){ %>
                                    <option value="<%= postList[i].post %>"><%= postList[i].post %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <select type="text" name="state" class="form-control">
                                <option value="">选择在职状态</option>
                                <% for(var i = 0 ; i< stateList.length ; i++){ %>
                                    <option value="<%= stateList[i].state %>"><%= stateList[i].state %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="control-label col-lg-2">备注</label>
                        <div class="col-lg-9">
                            <textarea rows="2" name="bz" class="form-control" placeholder="" style="width:100%;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
		                <div class="col-lg-6 col-lg-offset-2">
		                	<button type="reset" class="btn btn-default">重置</button>
		                	<button type="submit" class="btn btn-primary">提交</button>
		             	</div>
		            </div>
                </form>
        <!-- </div>   -->
    </div>    
<!-- special script -->
<!-- bootstrap-table -->
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- personal -->
<script src="/javascripts/self.js"></script> 
<script src="/javascripts/user/fom.js"></script>

<!-- <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script> -->
<script>
    $(function(){
        // --------------------- datepicker ------------------- 
        // 日期选择框
        $('input.date').datepicker({
            format: "yyyy-mm-dd",
            weekStart: 7,
            // maxViewMode: 1,
            language: "zh-CN",
            // daysOfWeekDisabled: "0,6",
            // daysOfWeekHighlighted: "0,6",
            autoclose: true,
            todayHighlight: true,
            // startDate: new Date()
        }).on('show', function (e) {
            e.preventDefault();
            e.stopPropagation(); // 禁止触发父元素事件
        }).on('hide', function (e) {
            e.stopPropagation(); // 禁止触发父元素事件
        });
        
        // 表单验证
        var $centre = $('form select[name=centre]');
        var $dept = $('form select[name=dept]');
        var $office = $('form select[name=office]');
        var $gender = $('form select[name=gender]');
        var $name = $('form input[name=name]');
        var $userid = $('form input[name=userid]');
        var $school = $('form input[name=school]');
        var $major = $('form input[name=major]');
        var $education = $('form select[name=education]');
        var $mainPost = $('form select[name=mainPost]');
        var $grade = $('form select[name=grade]');
        var $state = $('form select[name=state]');
        var formList = [$centre,$dept,$office,$gender,$name,$userid,$school,$major,$education,$mainPost,$grade,$state];
        $('form').submit(function(e){
            for(var i = 0 ; i < formList.length ; i++){
                if (formList[i].val() == '') {
                    formList[i].parent().addClass('has-error');
                    e.preventDefault();
                }else{
                    formList[i].parent().removeClass('has-error');
                }
            }
        });
        
        // $centre.parent().addClass('has-error');
        // $('form').validate({
        //     rules: {
        //         centre: "required",
        //         dept: "required",
        //         office: "required",
        //         name: "required",
        //         userid: "required",
        //         gender: "required",
        //         school: "required",
        //         major: "required",
        //         education: "required",
        //         mainPost: "required",
        //         grade: "required",
        //         state: "required",
        //     }
        // });
    });
</script>
<% include ../layout/foot.ejs %>