<% include ../layout/head.ejs %>
<!-- special css -->
<link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css">
<link rel="stylesheet" href="/stylesheets/libs/bootstrap-editable-remove-datepicker.css">
<!-- <link rel="stylesheet" href="/X-editable/dist/bootstrap3-editable/bootstrap-editable.css"> -->
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<!-- 自定义 -->
<link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <div class="layout-head">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/user/fom"><%= deptInfo.dept %></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/user/fom">人员管理</a></li>
                    </ul>
                    <% include layout-nav-right.ejs %>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <% include ../layout/alertMessage.ejs %>
    </div>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="well-self">
                    部长：<i><b><u><span class="text-primary"><%= deptInfo.owner %></span></u></b></i>
                   ，编制：<i><b><u><%= deptInfo.preparation %></u></b></i>
                   ，现员：<i><b><u><span id='staffNum'></span></u></b></i>。
                   <% for(var ii=0; ii<officeList.length; ii++){ %>
                   （<%= officeList[ii].office %> 科长：<span class="text-primary"><%= officeList[ii].owner %></span>，编制：<i><b><%= officeList[ii].preparation %></b></i>）
                   <% } %>
                   
                </div>
                <div id="toolbar">
                    <a href="/user/fom/add" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> 新入职</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            科室 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- <li><a href="#">Action</a></li> -->
                            <% for(var i=0; i < officeList.length; i++){ %>
                                <li data-officeId=<%= officeList[i].id %>><a href="javascript:void(0)"><%= officeList[i].office %></a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <table id="table"></table>
            </div>
        </div>  
    </div>
    <!-- modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="change">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">选择调入的组织</h4>
          </div>
          <form class="form-horizontal" method="POST" action="/user/fom/change">
            <input type="hidden" class="sid" name="id">
            <input type="hidden" class="name" name="name">
            <input type="hidden" name="oldDept" value="<%= deptInfo.dept %>">
          <div class="modal-body">
                <div class="form-group">
                    <label for="" class="control-label col-lg-2">调入中心</label>
                    <div class="col-lg-10">
                        <select name="centre" class="form-control">
                            <option value="">请选择</option>
                            <% for(var i =0; i< centreList.length; i++){ %>
                                <option value="<%= centreList[i].id %>"><%= centreList[i].centre %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-lg-2">调入部门</label>
                    <div class="col-lg-10">
                        <select name="dept" class="form-control">
                            <option value="">请选择</option>
                            
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-lg-2">调入科室</label>
                    <div class="col-lg-10">
                        <select name="office" class="form-control">
                            <option value="">请选择</option>
                            
                        </select>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="dimission">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-danger">确定离职？</h4>
          </div>
          <form class="form-horizontal" method="POST" action="/user/fom/dimission">
            <input type="hidden" name="sid" class="sid">
            <input type="hidden" name="name" class="name">
            <input type="hidden" name="userid" class="userid">
          <div class="modal-body">
                <div class="form-group">
                    <label for="" class="control-label col-lg-2">离职日期</label>
                    <div class="col-lg-10">
                        <input type="text" class="date form-control" name="leave_date" placeholder="离职日期">
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="control-label col-lg-2">离职原因</label>
                    <div class="col-lg-10">
                        <textarea rows="2" name="bz" class="form-control" placeholder="选填" style="width:100%;"></textarea>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">确定</button>
          </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<!-- special script -->
<!-- jquery -->
<script src="/jquery/dist/jquery.min.js"></script>
<!-- bootstrap -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- bootstrap-table -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="/javascripts/libs/tableExport.js"></script>

<!-- bootstrap-datepicker -->
<script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>

<!-- bootstrap-editable -->
<script src="/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js"></script>
<script src="/bootstrap-editable/js/index.js"></script>
<!-- X-editable -->
<!-- <script src="/X-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script> -->
<!-- personal -->
<script src="/javascripts/self.js"></script> 

<!-- <script src="/crypto-js.js"></script>
<script src="/javascripts/crypto-aes.js"></script> -->

<script src="/javascripts/base64.js"></script>

<script src="/jquery-validation/dist/jquery.validate.js"></script>
<script>
$(function(){
    var $table = $('#table');
    window.operator = {
        'click [title=离职]': function (e, value, row, index) {
            $('#dimission').modal('show');
            $('#dimission form input.sid').val(row.sid);
            $('#dimission form input.name').val(row.name);
            $('#dimission form input.userid').val(row.userid); 
        },
        'click [title=调转]': function (e, value, row, index) {
            $('#change').modal('show');
            $('#change form input.sid').val(row.sid);
            $('#change form input.name').val(row.name);
            $('select[name=centre]').val('');
            $('select[name=dept] option:gt(0)').remove();
            $('select[name=office] option:gt(0)').remove();
        }
    };
    $table.bootstrapTable({
        url: '/user/fom/bootstrapTable',
        height: window.innerHeight - 135,
        // height: 300,
        responseHandler: function (res) {
            for (var i = 0; i < res.length; i++) {
                res[i].rid = i + 1;
            }
            return res;
        },
        striped: true,
        pageNumber: 1,
        pageSize: 20,
        pageList: '[30, 50, ALL]',
        pagination: true,
        paginationLoopz: true,
        search: true,
        idField: 'sid',
        showColumns: true,
        showExport: true,
        showRefresh: true,
        toolbar: '#toolbar',
        cache: false,
        detailView: true,
        detailFormatter: function (value, row , index) {
            return '<p><b>' + row.postType + '</b></p>' +
            '<p>' + row.postDescribe.replace(new RegExp('\n','gm'),'<br/>') + '</p>'; // 将从excel导入的数据换行
        },
        columns: [{
            field: 'rid',
            title: '#',
            align: 'center',
            valign: 'middle',
            width: '5',
            // visible: false
        }, {
            field: 'dept',
            title: '部门',
            align: 'center',
            valign: 'middle',
            visible: false
        }, {
            field: 'office',
            title: '科室',
            align: 'center',
            valign: 'middle',
        }, {
            field: 'name',
            title: '姓名',
            align: 'center',
            valign: 'middle',
            formatter: function(value, row, index){
                var sid_code = base64encode(row.sid + '');   //  sid 加密处理
                if(value){
                    return '<a href="/user/fom/show?sid_code=' + sid_code + '">' + value + '</a>';
                }else{
                    return value;
                }
            }
        },{
            field: 'userid',
            title: '员工号',
            align: 'center',
            valign: 'middle',
            editable: {
                type: 'text',
                title: '填补员工号',
                url: '/user/fom/update/userid'
            }
        },{
            field: 'gender',
            title: '性别',
            align: 'center',
            valign: 'middle'
        },{
            field: 'grade',
            title: '职级',
            align: 'center',
            valign: 'middle',
            // editable: {
            //     type: 'select',
            //     title: '职级',
            //     source: [
            //         {value: '专家', text: '专家'},
            //         {value: '资深', text: '资深'},
            //         {value: '高级', text: '高级'},
            //         {value: '中级', text: '中级'},
            //         {value: '初级', text: '初级'},
            //         {value: '助理', text: '助理'},
            //     ],
            //     url: '/user/fom/update/grade'
            // }
        },{
            field: 'duty',
            title: '职务',
            align: 'center',
            valign: 'middle',
        }, {
            field: 'mainPost',
            title: '主岗',
            align: 'center',
            valign: 'middle',
            // editable: {    // 问题：当加载列数据的时候，每一行都会触发一次该请求，N行就触发N次
            //     type: 'select',
            //     source: function () {
            //             var result = [];
            //             $.ajax({
            //                 url: '/user/fom/get/postList',
            //                 async: false,
            //                 type: "get",
            //                 data: {},
            //                 success: function (data, status) {
            //                     $.each(data, function (key, value) {
            //                         result.push({ value: value.post, text: value.post });
            //                     });
            //                 }
            //             });
            //             return result;
            //         }
            //     // url: '/todo/update'
            // }
        },{
            field: 'subPost',
            title: '次岗',
            align: 'center',
            valign: 'middle'
        },{
            field: 'postType',
            title: '岗位类别',
            align: 'center',
            valign: 'middle',
            visible: false
        },{
            field: 'state',
            title: '状态',
            align: 'center',
            valign: 'middle'
        },{  
            field: 'sbz',
            title: '备注',
            visible: false,
            align: 'center',
            valign: 'middle'
        }, {
            field: 'operator',
            title: '操作',
            events: operator,
            align: 'center',
            valign: 'middle',
            width: '120',
            formatter: function (value, row, index) {
                var sid_code = base64encode(row.sid + '');   //  sid 加密处理
                return '<div class="btn-group" role="btn-group">' +
                    '<button class="op btn btn-default btn-sm" title="离职">' +
                    '<i class="glyphicon glyphicon-remove"></i></button>' +
                    '<button class="op btn btn-default btn-sm" title="调转" ' +
                    'data-target="#editModal" data-toggle="modal">' +
                    '<i class="glyphicon glyphicon-repeat"></i></button>' +
                    '<a class="op btn btn-default btn-sm" href="/user/fom/edit?sid_code=' + sid_code + '">' + 
                    '<i class="glyphicon glyphicon-pencil" title="修改岗位"></i> ' + 
                    '</a>'+ 
                    '</div>';
            }
        }]
    });
    // 获取当前人数
    $table.on('load-success.bs.table', function(){
        var staffNum = $table.bootstrapTable('getData').length;
        $('#staffNum').html(staffNum);
    });

    // 日期选择框，离职日期
    $('input.date').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 7,
        maxViewMode: 1,
        language: "zh-CN",
        // daysOfWeekDisabled: "0,6",
        // daysOfWeekHighlighted: "0,6",
        autoclose: true,
        todayHighlight: true,
        // startDate: new Date()
    }).on('show', function (e) {
        console.log('input.date show');
        e.preventDefault();
        e.stopPropagation(); // 禁止触发父元素事件
    }).on('hide', function (e) {
        console.log('input.date hide');
        e.stopPropagation(); // 禁止触发父元素事件
    });
    
    // 根据中心获取部门
    $('#change').on('shown.bs.modal', function () {
        $('select[name=centre]').change(function(){
            var centreId = $(this).val();
            $.ajax({
                url: '/user/fom/get/deptList?centreId=' + centreId,
                success: function(result){
                    $('select[name=dept] option:gt(0)').remove();
                    for(var i = 0 ; i< result.length; i++){
                        var $optionHtml = $('<option value="' + result[i].id + '">' + result[i].dept + '</option>');
                        $('select[name=dept]').append($optionHtml);
                    }
                }
            });
        });
        $('select[name=dept]').change(function(){
            var deptId = $(this).val();
            $.ajax({
                url: '/user/fom/get/officeList?deptId=' + deptId,
                success: function(result){
                    $('select[name=office] option:gt(0)').remove();
                    for(var i = 0 ; i< result.length; i++){
                        var $optionHtml = $('<option value="' + result[i].id + '">' + result[i].office + '</option>');
                        $('select[name=office]').append($optionHtml);
                    }
                }
            });
        });
    });
    // 表单验证
    $('#change form').validate({
        rules: {
            centre: "required",
            dept: "required",
            // office: "required"
        },
        errorClass: 'text-danger'
    });
    $('#dimission form').validate({
        rules: {
            leave_date: 'required',
            bz: {
                maxlength: 20
            }
        },
        errorClass: 'text-danger'
    });
    
});
</script>
<% include ../layout/foot.ejs %>