<% include ../layout/head.ejs %>
<!-- special css -->
<!-- <link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css"> -->
<!-- <link rel="stylesheet" href="/bootstrap3-editable/css/bootstrap-editable.css"> -->
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<!-- 自定义 -->
<link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <div class="layout-head">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/user/fom"><%= deptInfo.dept %></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/user/fom">人员管理</a></li>
                    </ul>
                    <% include layout-nav-right.ejs %>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <% include ../layout/alertMessage.ejs %>
    </div>
    <div class="container">
        <div style="margin-bottom:20px">
        	<h3>显示人员信息<small> - <%= staffInfo.name %></small></h3>
        	<!-- <a class="btn btn-danger btn-sm pull-right" style="margin-bottom: 20px" href="/user/fom/edit">编辑</a> -->
        </div>
        <div class="row">
	        <div class="col-lg-10">
	        	<table class="table table-bordered">
					<tr class="active">
						<td colspan="7" style="line-height: 2em"><b class="text-primary">基本信息</b></td>
					</tr>
					<tr>
						<td>姓名</td>
						<td><span class="data"><%= staffInfo.name %></span></td>
						<td>员工号</td>
						<td><span class="data"><%= staffInfo.userid %></span></td>
						<!-- <td rowspan="3"></td> -->
						<td rowspan="6" colspan="2" width="18%" class="text-center"><img src="" alt="photo" class="img-rounded"></td>
					</tr>
					<tr>
						<td>性别</td>
						<td><span class="data"><%= staffInfo.gender %></span></td>
						<td>出生日期</td>
						<td><span class="data"><%= staffInfo.birthday %></span></td>
					</tr>
					<tr>
						<td>出生地</td>
						<td><span class="data"><%= staffInfo.birth_place %></span></td>
						<td>户籍地</td>
						<td><span class="data"><%= staffInfo.domicile_place %></span></td>
					</tr>
					<tr>
						<td>毕业学校</td>
						<td><span class="data"><%= staffInfo.school %></span></td>
						<td>毕业专业</td>
						<td><span class="data"><%= staffInfo.major %></span></td>
					</tr>
					<tr>
						<td>学历</td>
						<td><span class="data"><%= staffInfo.education %></span></td>
						<td>毕业日期</td>
						<td><span class="data"><%= staffInfo.education_date %></span></td>
					</tr>
					<tr>
						<td>工作日期</td>
						<td><span class="data"><%= staffInfo.work_date %></span></td>
						<td>入BOE日期</td>
						<td><span class="data"><%= staffInfo.enter_date %></span></td>
					</tr>
					<tr class="active">
						<td colspan="7" style="line-height: 2em"><b class="text-primary">岗位信息</b>
							<a class="btn btn-danger btn-sm pull-right" href="/user/fom/edit?sid_code=<%= sid_code %>">编辑</a>
						</td>
					</tr>
					<tr>
						<td>职级</td>
						<td><span class="data"><%= staffInfo.grade %></span></td>
						<td>职务</td>
						<td><span class="data"><%= staffInfo.duty %></span></td>
					</tr>
					<tr>
						<td>主要岗位</td>
						<td><span class="data"><%= staffInfo.mainPost %></span></td>
						<td>次要岗位</td>
						<td><span class="data"><%= staffInfo.subPost %></span></td>
					</tr>
					<tr>
						<td>岗位类型</td>
						<td><span class="data"><%= staffInfo.postType %></span></td>
						<td>状态</td>
						<td><span class="data"><%= staffInfo.state %></span></td>
					</tr>
					<tr>
						<td colspan="7">岗位描述（职责）</td>
						<!-- <td><%= staffInfo.postDescribe %></td> -->
					</tr>
					<tr>
						<td colspan="7">
							<span class="data">
								<% if(staffInfo.postDescribe){ %>
									<%- staffInfo.postDescribe.replace(new RegExp('\n','gm'),'<br/>') + '</p>' %>
								<% }else{ %>
                                    （空）
                                <% } %>
							</span>
						</td>
					</tr>
				</table>
	        </div>
        </div>
        
        <!-- </div>   -->
    </div>    
<!-- special script -->
<!-- bootstrap-table -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- personal -->
<script src="/javascripts/self.js"></script> 
<!-- <script src="/javascripts/user/fom.js"></script> -->

<!-- <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script> -->
<script>
    $(function(){
    	// $('.data').css('font-size','0.9em');
    });
</script>
<% include ../layout/foot.ejs %>