<% include ../layout/head.ejs %>
<!-- special css -->
<!-- bootstrap -->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css">
<link rel="stylesheet" href="/bootstrap3-editable/css/bootstrap-editable.css">
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<!-- 自定义 -->
<link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <% include ../layout/nav.ejs %>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-lg-2">
                    <% include fom-layout-dept.ejs %>
                </div>
                <div class="col-lg-10">
                    <div class="well-self">
                        部长：<i><b><u><span class="text-primary"><%= deptInfo.owner %></span></u></b></i>
                       ，编制：<i><b><u><%= deptInfo.preparation %></u></b></i>
                       ，现员：<i><b><u><span id='staffNum'></span></u></b></i>。
                       <% for(var ii=0; ii<officeList.length; ii++){ %>
                       （<%= officeList[ii].office %> 科长：<span class="text-primary"><%= officeList[ii].owner %></span>，编制：<i><b><%= officeList[ii].preparation %></b></i>）
                       <% } %>
                       
                    </div>
                    <div id="toolbar">
                        <button class="btn btn-primary btn-sm" id="add" data-toggle="modal" data-target="#addModal" data-whatever="addModal">
                                <i class="glyphicon glyphicon-plus"></i> 新入职
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                科室 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <!-- <li><a href="#">Action</a></li> -->
                                <% for(var i=0; i < officeList.length; i++){ %>
                                    <li data-officeId=<%= officeList[i].id %>><a href="javascript:void(0)"><%= officeList[i].office %></a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <span id="dataSpan" data-deptid=<%= deptInfo.id %>></span>
                    <table id="table"></table>
                </div>
            </div>
        </div>  
    </div>
    <!-- modal -->
    <% include ../modals/fom-add.ejs %>
</body>
<!-- special script -->
<!-- bootstrap-table -->
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- self -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="/bootstrap-table/lib/tableExport.js"></script>
<script src="/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js"></script>
<script src="/bootstrap3-editable/js/bootstrap-editable.js"></script>
<!-- personal -->
<script src="/javascripts/self.js"></script> 
<script src="/javascripts/pages/fom.js"></script>
<script>
    $(function(){

    });
</script>
<% include ../layout/foot.ejs %>